.margin-top-20
.row
  .col-md-12.col-sm-12
    .row#stocks{:style=>'background-color: #F0F0F0;'}
      .col-lg-12.text-left{:style=>'margin-left:20px'}
        %h2 Описание
    .row{:style=>'background-color: #F0F0F0;'}
      .col-md-12
        .line-border-stock{:style=>'border-bottom: #DCDCDC;   border-bottom-style: dashed;    border-bottom-width: 1px;'}
    %b Ресурс предназнен для поиска по каталогу ЗАО "Вентиляция, водоснабжение, теплоснабжение".
    %b Для поиска необходимо определить по каким данным будет производиться поиск:
    %b Это может быть весь каталог насосов, поиск по категориям, а так же поиск по
    %b вещество для которых предназначен насос.
    %b Необходимо заметить, что по предоставленным данным возможен переход к другим.
    %p
      %b К примеру:
      %p
        %b
          Через типы материалов (воздух, вода и т.п.) можно просмотреть все категории насосов которые обрабатывают данным тип вещества.
      %p
        %b
          Через категорию насосов можно ознакомится со всеми насосами которые входят в эту категорию.