%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4

        .footer-col.col-md-4
          %h3 Читай о авторе
          %ul.list-inline
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-facebook
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-google-plus
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-twitter
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-linkedin
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-dribbble
        .footer-col.col-md-4
          %h3 Смотрите так же
          %p
            %a{:href => 'http://mospolytech.ru/'} МПУ
  .footer-below
    .container
      .row
        .col-lg-12
          Copyright © PumpCatalog
          =  Time.now.year

  -#/ Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-top.page-scroll.visible-xs.visible-sm
  %a.btn.btn-primary{:href => "#page-top"}
    %i.fa.fa-chevron-up