.row
  .col-md-12.nav-menu-base{:style=>'padding:0;'}
    .col-md-12{:style=>'padding:0'}
      %nav.navbar.navbar-default.navbar-fixed-top{:style=>'background-color:#4e4e50'}
        .container
          .navbar-header.page-scroll
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          #bs-example-navbar-collapse-1.collapse.navbar-collapse{:style=>'background-color:#4e4e50;'}
            %ul.nav.navbar-nav.navbar-left{:style=>'letter-spacing: 0;'}
              %li.hidden
                %a{:href => "#page-top"}
              %li.page-scroll
                %a{:href => "#serch"} Поиск
              %li.page-scroll
                %a{:href => "#models"} Категории
              %li.page-scroll
                %a{:href => "#stocks"} материалы
              %li.page-scroll
                %a{:href => "#contact"} Контакты
              %li.page-scroll
                %a{:href => "#welcom_block"} О нас
              %li.page-scroll
                %a{:href => 'http://mospolytech.ru/'} МПУ
