%h1 Выберети категорию для скачивания списка насосов

.row
  .col-md-12
    %form
      .form-group
        %label Категория насосов
        = select_tag 'pump_category_id', options_for_select(get_pumps_categories), :id=>'pump_category_id', :class=>'form-control'
      .row
        .col-md-12
          %input.btn.btn-default.btn-success{:id=>'download_csv', :value => 'Скачать'}
          %label  в формате CSV
      .block-20{:style=>'height:20px'}
      .row
        .col-md-12
          %input.actions.btn.btn-default.btn-success{:id=>'download_exl', :value => 'Скачать'}
          %label в формате EXL



%h1 Выберети файл для добавления/обновления списка насосов

.row
  .col-md-12
    .col-md-4
      %input.form-control{:name=>'qqq', :type=>'file', :value => 'Загрузить'}
    .col-md-4
    .col-md-4