@import "bootstrap-sprockets";
@import "bootstrap";

img {
  @extend .img-responsive;
  margin: 0 auto;
  }

main {
  @extend .container;
  background-color: #eee;
  width: 100%;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
