/* Base */

html, div, map, dt, form, header, aside, section, section, article{
    display: block;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    background: #F8F8F8;
    font-size: 12px;
}

.clear {
    clear: both;
}


a:link, a:visited {
    color: #77BACE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */

header#header {
    height: 55px;
    width: 100%;
    background: #222222;
}

header#header h1.site_title, b.site_title, header#header h2.section_title {
    float: left;
    margin: 0;
    font-size: 22px;
    display: block;
    width: 23%;
    height: 55px;
    font-weight: normal;
    text-align: left;
    text-indent: 1.8%;
    line-height: 55px;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

header#header h1.site_title a,
header#header b.site_title a {
    color: #fff;
    text-decoration: none;
}

header#header h2.section_title {
    text-align: center;
    text-indent: 4.5%;
    width: 68%;
}

/* Sidebar */

aside#sidebar {
    max-width: 200px;
    background: #E0E0E3 repeat;
    float: left;
    min-height: 100%;
    border-right: 1px groove black;
    padding-left: 0;
    padding-right: 0;
}

#sidebar hr {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    height: 2px;}


/* Sidebar Menu */

#sidebar h3 {
    color: #1F1F20;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    margin: 10px 0 10px 6%;
    display: block;
    float: left;
    width: 90%;
}

#sidebar ul {
    clear: both;
    margin: 0; padding: 0;
}

#sidebar li {
    list-style: none;
    padding: 0;
    text-align: left;
}


#sidebar li:hover{
    list-style: none;
    padding: 0;
    text-align: left;
    background: #b4b4b9 repeat;
}

.active,
#sidebar li.active > a
{
    color: white;
     background: #828286 repeat;
}

#sidebar ul li a {
    color: #666666;
    padding-left: 15px;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-shadow: 0 1px 0 #fff;
    font-size: 15px;
    margin-top: 2px;
    margin-right: 15px;
}

#sidebar li a:hover {
    color: white;
    background-color: transparent;
}

#sidebar p {
    color: #666666;
    padding-left: 6%;
    text-shadow: 0 1px 0 #fff;
    margin: 10px 0 0 0;}

#sidebar a {
    color: #666666;
    width: 100%;
    text-decoration: none;
}

#sidebar a:hover {
    text-decoration: none;
}


/* Main Content */


section#main {
    width: 80%;
    min-height: 500px;
    float: left;
    margin-top: -2px;
}

#main h3 {
    color: #1F1F20;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    margin: 8px 20px;
}

/* Modules */

.module {
    border: 1px solid #9BA0AF;
    width: 100%;
    margin: 20px 3% 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
}

#main .module header h3 {
    display: block;
    width: 90%;
    float: left;
}

.module header {
    height: 38px;
    width: 100%;
    background: #F1F1F4;
    -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.module_content {
    margin: 10px 20px;
    color: #666;
}

.module_content > h1 {
    text-align: center;
}
.module_content > .row > .col-md-4 > a.btn.btn-primary{
    color: white;
}

/* Module Widths */

.width_full {
    width: 100%;
}

/* Content Manager */

html ul.tabs li.active a  {
    color: #44474F;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #F1F2F4;
    -webkit-box-shadow: inset 0 2px 3px #818181;
    -moz-box-shadow: inset 0 2px 3px #818181;
    box-shadow: inset 0 2px 3px #818181;
}

html ul.tabs li:first-child, html ul.tabs li:first-child a  {
    -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px; border-bottom-left-radius: 5px;
}

html ul.tabs li:last-child, html ul.tabs li:last-child a  {
    -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}

#main .module header h3.tabs_involved {
    display: block;
    width: 60%;
    float: left;
}

.border-style-photo > img{
    border-style: dashed;
    border-width: 1px;
    border-radius: 10px;
}


.btn-admin-color:visited {
    color:white;
}

.admin-companies-table {
}

.admin-companies-table > thead >  tr > th,
.admin-companies-table >  tbody > tr > td {
    text-align: center;
}

td.admin-img-logo > img {
    height: 40px;
}

aside#sidebar.column > h2{
    text-align: center;
}

.center-content {
    text-align: center;
}

.row.title-page-name > h3{
    font-weight: bolder;
    font-size: 100px;
}

.center-content > .col-md-4 > .row > .btn {
    width: 100%;
    margin-top: 10px;
}