/*
 *= require bootstrap
 *= require font_awesome
 *= require_tree .
 *= require_self
 */


html {
    background-color: #f0f0f0;
}


body {
    background-color: #F0F0F0;
}

.nav-menu-base > .col-md-12 > .navbar
{
    position: relative;
    padding: 0;
    margin-bottom: 0;
    border-top: solid 2px #000000;
}

.nav-menu-base > .col-md-12 > .navbar > .container{
    width: auto;
}

@font-face {
    font-family: Rancho-Regular;
    src: url('/Rancho-Regular.ttf');
}

@font-face {
    font-family:futura_medium_bt-webfont;
    src: url('/futura_medium_bt-webfont.ttf');
}

.block-top-menu-item.phone,
.block-top-menu-item.phone > a{
    font-family: Rancho-Regular, serif;
    font-size: 40px;
    background-color: inherit;
    color: #000;
    white-space: nowrap;
    text-decoration: none;
}

.margin-top-20{
    margin-top: 20px;
}

.welcom-block{
    text-align: justify;
}

.justify-block {
    text-align: justify;
}

.welcom-block > img {
    float: left;
}

.row.portfolio-second >  .col-md-2.portfolio-item {
    margin: 20px;
}

.col-md-12.models_auto > .col-sm-3.portfolio-item {
    text-align: center;
    margin-bottom: 15px;
}

.col-md-12.models_auto > .col-sm-3.portfolio-item > span {
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: medium;
    font-weight: bold;
}

.contact-info-header > .row {
    margin:0;
}

.row.contact-info-header {
    font-size:10px;
    font-family: futura_medium_bt-webfont;

    background-color: #E0E0E0;
}


.col-md-3 > .text-center > p > b {
    font-size:14px;
}

.block-top-menu > .row > .col-md-3 > .text-center {
    margin-top:15px;
}

/*menu*/

ul.nav.navbar-nav.navbar-custom > li.page-scroll > a:hover,
ul.nav.navbar-nav.navbar-left > li.page-scroll > a:hover
{
    font-size: large;
    color:white;
}

.vertical-sub {
}


#bs-example-navbar-collapse-1.collapse.navbar-collapse > ul.nav.navbar-nav.navbar-custom {}

#bs-example-navbar-collapse-1.collapse.navbar-collapse > ul.nav.navbar-nav.navbar-custom > li.page-scroll{
}


/*end of menu*/

.row {
    margin-right:0;
    margin-left:0;
}

.type-work-title{
    padding: 0;
}

.footer-col.col-md-4 {
    padding-left: 0;
}

.mark-logo, .company-logo {
    height: 230px;
    background-color: #c30930;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #E0E0E0;
}

.company-logo > img{
    padding-top: 30px;
}

.mark-logo-1{
}

.mark-logo-1, .company-logo-1, .company-logo-1.a{
    height: 150px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #E0E0E0;
}

.mark-logo-ford, .company-logo-ford {
    height: 150px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #F0F0F0;
}

.mark-logo-infiniti, .company-logo-infiniti {
    height: 150px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #f1f1f1;
}

.row.contact-info-header > .block-top-menu > .row > .col-md-8 > .row > .col-md-6,
.row.contact-info-header > .block-top-menu > .row > .col-md-8 > .row > .col-md-4
{
    padding-top: 4px;
}

a.street-name:hover,
a.tel-number-hover:hover{
    text-shadow: 1px 1px 2px white, 0 0 1em #4e4e50; /* Параметры тени */
    text-decoration: none;
}

.company-logo-1 > img, .company-logo-1 > a > img{
    padding-top: 40px;
}

.col-md-5.block-top-menu-logo.text-center {
    padding: 10px;
    margin-top: 10px;
}

.login-form{
    vertical-align: middle;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
}

.price-list-table > tbody > tr > td,
.price-list-table > tbody > tr > th
{
    border: 1px solid black;
}

.sys-tel-header-info > a:hover{
    background: #C3523D !important;
    border-color: #C3523D !important;
}

.sys-tel-header-info-ford > a:hover{
    background: #1f54a8 !important;
    border-color: #266ee2 !important;
}

.sys-tel-header-info-infiniti > a:hover{
    background: #222323 !important;
    border-color: #222323 !important;
}

a.hasarrow {
    text-decoration: underline;
    text-transform: none;
    font-size: 12px;
    line-height: 1.66;
    margin: 15px;
    color:#c3002f;
}

.info-header-top {
    font-size: 38px;
    font-weight: bold;
}

.info-header-model-name{
    font-size: 38px;
    font-stretch: ultra-condensed;
    font-weight: bold;
}


.info-header-name-street{
    font-size: 38px;
    font-weight: bold;
}

.street-name,
.phone-number{
    font-size: 28px;
    font-weight: bold;
}

.street-name-mobile,
.phone-number-mobile{
    font-size: 20px;
    font-weight: bold;
}

/*===  for stocks ===*/

.col-md-2.col-sm-2.btn.btn-success.sys-btn-category  {
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
}

.category_box{
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
